.DarkModeToggle {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 5rem;
    cursor: pointer;
    user-select: none;

}

.DarkModeToggle input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.DarkModeToggle svg {
    display: block;
    width: 100%;
    height: auto;
}

.DarkModeToggle .toggle-container,
.DarkModeToggle .toggle-patches,
.DarkModeToggle .toggle-stars,
.DarkModeToggle .toggle-button,
.DarkModeToggle .toggle-sun,
.DarkModeToggle .toggle-moon,
.DarkModeToggle .toggle-cloud,
.DarkModeToggle .darkmode-hole,
.DarkModeToggle .darkmode-cover {
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.DarkModeToggle .toggle-sun {
    opacity: 0;
}

.DarkModeToggle .toggle-moon {
    opacity: 1;
}

.DarkModeToggle .toggle-cloud {
    opacity: 0;
}

.DarkModeToggle .toggle-stars {
    opacity: 1;
}

.DarkModeToggle input:checked+svg .toggle-button {
    transform: translate(50px, 0);
}

.DarkModeToggle input:checked+svg .darkmode-hole {
    transform: translateX(50px);
}

.DarkModeToggle input:checked+svg .toggle-sun {
    opacity: 1;
}

.DarkModeToggle input:checked+svg .toggle-moon {
    opacity: 0;
}

.DarkModeToggle input:checked+svg .toggle-cloud {
    opacity: 1;
}

.DarkModeToggle input:checked+svg .toggle-stars {
    opacity: 0;
}

.DarkModeToggle .darkmode-cover {
    fill-opacity: 0.8;
}

.DarkModeToggle:hover .darkmode-cover {
    fill-opacity: 0.3;
}