.Footer {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding: 16px 24px;
    text-align: left;
    color: var(--color-text-secondary);
    gap: 16px;
}