.Map {
    position: relative; 
    width: 100%;
    box-shadow: 0 0 30px rgba(122, 184, 230, 0.1);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(122, 184, 230, 0.3);
    user-select: none; 
}

.Map .image {
    width: 100%;
    display: block; 
}

.Map .marker {
    position: absolute;
    width: 15%;
    aspect-ratio: 1 / 1;
    min-width: 25px;
    max-width: 75px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.7;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Cpolygon points='145,100 122.5,138.97 77.5,138.97 55,100 77.5,61.03 122.5,61.03' fill='none' stroke='%23FFFFFF' stroke-width='22'/%3E%3Cpath d='M 115 38 L 64 38 L 38 83' fill='none' stroke='%23FFFFFF' stroke-width='8'/%3E%3Cpath d='M 85 162 L 136 162 L 162 117' fill='none' stroke='%23FFFFFF' stroke-width='8'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}